<section class="cards">
    <div class="container">
        <h2 class="cards-title">карточки</h2>
        <div class="cards-inner">
            <article class="cards-item">
                <img src="images/cards/img1.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img2.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img3.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img4.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img5.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img6.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img7.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img8.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img9.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <article class="cards-item">
                <img src="images/cards/img10.jpg" alt="card">
                <div class="cards-content">
                    <h3 class="cards-name">bridge</h3>
                    <p class="cards-descr">How to increase your productivity with a Music</p>
                    <p class="cards-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…</p>
                    <p class="cards-author">Posted by <strong>Eugenia</strong>, on July  24, 2019</p>
                    <a class="cards-btn" href="#">Continue reading</a>
                </div>
            </article>
            <div class="cards-container">

            </div>
        </div>
        <div class="global-btn-container cards-button_container">
            <button class="global-btn cards-button">ЗАГРУЗИТЬ ЕЩЕ</button>
            <div class="global-decor"></div>
        </div>
    </div>
</section>