<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <h1 class="hero-title">Полет Илона Маска
                и DOGIE COIN</h1>
            <p class="hero-subtitle">В прошлый четверг все офигели от полета DOGIE COIN на марс.</p>
            <div class="global-btn-container">
                <button class="global-btn header-btn">ОСТАВИТЬ ЗАЯВКУ</button>
                <div class="global-decor"></div>
            </div>
        </div>
    </div>
</section>